@{
  Layout = "_Layout";
}

@using Salon.Models;
@model Salon.Models.Client;

<h2>Client details</h2>
<hr />
<h3>Name: @Html.DisplayFor(model => model.ClientName)</h3>

<p>@Html.ActionLink("Edit Client", "Edit", new { id = Model.ClientId})</p>
<p>@Html.ActionLink("Delete Client", "Delete", new { id = Model.ClientId})</p>
<p>@Html.ActionLink("Back to list", "Index")</p>